@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>@CurrentPage.Name - redsite</title>
    
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-directives")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
	<header>
		@{ Html.RenderPartial("_mainNavigation"); }
	</header>    
    
    @* BODY CONTENT *@
    <div class="container body-content">
        @RenderBody()
    </div>

    @* FOOTER *@
    <div class="body-content">
        <hr />
        <footer>
            <p style="padding-left: 24px;">&copy; @DateTime.Now.Year - REDSITE</p>
        </footer>
    </div>
</body>
</html>
